@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: theme("fontFamily.sans"), system-ui;
	}

	body {
		@apply bg-background-light text-slate-900 min-h-screen;
	}
}
